<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/minimalista.css">
	
	</head>
	<body >
	<img id="background" src="{{imagen.fondoDePortada.url}}" />
	<div id="barra_de_titulo_inf">
		<h2 style="padding-left:25px;display:inline"> PAGINA DE FOTOGRAFIA</h2>
		<div class="menub">
			<div class="caj_m">
			<a href="/index/galerias">Galerias</a>
			<div class="marca_h"></div>
			</div>
			
			<div class="caj_m">
			<a href="/index/sobre-mi">Sobre mi</a>
			<div class="marca_h"></div>
			</div>			
		</div>

	</div>

	<div id="mis_notas">

	</div>
	</body>
</html>
